

body{
    color: #707070;
    margin:0 ;
}

ul{
    list-style-type: none;
    display: flex;
    padding: 0;

}

header{
  margin: 0;
   background-color: #f8f8f8;
  display: flex;
  justify-content: center;
}
.container{
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 900px;
}



li{
 padding:0 30px 0 30px;

}

.title{
    font-size: 2rem;
    font-family: 'Lora', serif;
    color: #143774;
    margin: 0;
    
}

.subtitle{
    font-weight: 700;
    color: #1792d2;
    font-size: 1rem;
    margin: 0;
    word-spacing: 10px;
}

p{
    margin: 0;
}

a{
    color: #707070;
    text-decoration: none;
    font-weight: 700;
}

a:hover, a:focus{
    color: #1792d2;
    border-bottom: 1px solid #707070;
}

@media (max-width:700px) {
    
    .head{
        text-align: center;
    }
     
   ul{
    display: block;
    text-align: center;
    
   }
   li{
    padding-top: 20px;
   }

   .container{
    flex-direction: column;
   }

}


